@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '~normalize.css';

@import 'header';
@import 'shop';
@import 'footer';


*{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  background: #d0d0d0;
  // min-height: 100vh;
}

.container{
  // height: 100%;
}

.market{
  width: 70%;
  min-height: 100vh;
  margin: 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

